
<h3 class="h3 d-flex justify-content-center text-muted">Coach's answer</h3>
<p class="text-primary d-flex justify-content-center"><%= @ask %></p><br>
<p class="d-flex justify-content-end">You</p>
<p class="text-primary d-flex justify-content-center"><%= @result %></p><br>
<p class="d-flex justify-content-end">Coach's answer</p>
<%= link_to "Click here to try again", ask_path, class:"btn btn-danger d-flex flex-column justify-content-center" %>
